@charset "utf-8";

/* 프리텐다드 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");






html,body{width:100%;height:100%;} 
body{
  font-family: 'pretendard', "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  overflow-y: hidden;
}
a{color: var(--text_color_1);text-decoration: none;}

/* 공통서식 */
:root{
  --main_color_1:#FF8F00;
  --main_color_2:#ffd105;
  --main_color_3:#89C824;

  --sub_color_1:#E61A23;
  --sub_color_2:#009DDC;

  --text_color_1:#333;

  --container_size:1200px;

  --font_size_1:3.125rem;  /* 50px */
  --font_size_2:1.875rem;  /* 30px */
  --font_size_3:1.25rem;  /* 20px */
  --font_size_4:1.125rem;  /* 18px */
  --font_size_5:1rem;  /* 16px */
  --font_size_6:0.875rem;  /* 14px */
  --font_size_7:0.813rem;  /* 13px */

  --swiper-theme-color: #333333 !important;
}


/* -----------------풀페이지 퀵버튼------------- */
.quick{
  position:fixed;
  left:3%;top:50%;transform:translateY(-50%);
  z-index:100000;
}
.quick li{
  width:4px;height:80px;
  background: #ccc;
  cursor:pointer;
}
.quick .on {background:var(--main_color_1);}
.quick li:first-of-type{display: none;}
.quick li:last-of-type{display: none;}




/* --------------헤더서식------------ */
header{
  width: 100%;height: 100px;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background: rgba(0,0,0,0.2);
}
.h_inner{
  width: 100%; height: 100px;
  display:flex;
  position: relative;
  left: 0;
}


/* 상단로고 */  
.logo{
  width: 260px;height: 80px;margin-left: 3%;
  position: relative;
  top: 50%;transform: translateY(-50%);
}
.logo img{height: 100%;}

/* 메인메뉴 */
.gnb{
  display: flex;
  height: 100%;
}
.gnb > li{
  text-align: center;
  width: 100%;
}
.gnb > li > a{
  line-height: 100px;
  white-space: nowrap; /* 글씨 줄바꿈 방지 */
  padding: 0 50px; /* 글씨 최소 좌우 패딩값 */
  display: block;
  color: white;
}

/* 서브메뉴 */
.lnb{margin: 20px 0 20px 0;}   /* 서브메뉴 위아래 여백 */
.lnb > li{
  line-height: 40px;
}
.lnb > li > a{
  white-space: nowrap;
}

/* util */
.util{
  display: flex;margin-right: 3%;
  position: relative;
  top: 50%;transform: translateY(-50%);
  width: 260px;height: 30px;
}
.util div{width: 60px;height: 30px;background: white; border: 2px solid #000;}




/* --------------메인서식------------ */





/* --------------푸터서식------------ */






/* 탑버튼 서식 */
.t_btn{
  position: fixed;
  right: 80px;bottom: 80px;
  z-index: 300;
  background: white;
  border-radius: 50%;
  width: 40px;height: 40px;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.t_btn > img{
  margin: 0 auto;
  width: 60%;
  margin-top: 6px;
}
.t_btn:hover{filter: brightness(0.8);}