@charset "utf-8";

/* 프리텐다드 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
  font-family: 'pretendard', "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* 공통서식 */
:root{
  --main_color_1:#FF8F00;
  --main_color_2:#FFE605;
  --main_color_3:#89C824;

  --sub_color_1:#E61A23;
  --sub_color_2:#009DDC;

  --text_color_1:#333;

  --container_size:1200px;
}


/* --------------헤더서식------------ */
header{
  width: 100%;height: 100px;
  background: pink;
  position: fixed;
  z-index: 50;
}
header > h1{
  position: absolute;
  top: 50%; transform: translateY(-50%);
  left: 3%;
}
header > h1 img{width: 100%;display: block;}



/* --------------메인서식------------ */





/* --------------푸터서식------------ */
footer{
  background: #666;
  height: 400px;
}

.footer_sub{
  background: white; 
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2)
}

.footer_sub > nav{
  display: flex;
  width: var(--container_size);
  margin: 0 auto;
  padding: 50px 0;
  justify-content: space-between;
}
.footer_sub dl{
  line-height: 30px;
  border: 1px solid #000;
  width: 20%;
  height: 100%;
}
.footer_sub a{
  text-decoration: none;
}
.footer_sub dl dt{
  font-weight: 600;
}


/* address서식 */
address{
  width: 1200px;display: flex;
  justify-content: space-between;
  height: 70px;margin: 0 auto;
 
}

address > h2 img{width: 100%;}
address p{line-height: 70px;}


/* 탑버튼 서식 */
.t_btn{
  position: fixed;
  right: 80px;bottom: 80px;
  z-index: 300;
  background: white;
  border-radius: 50%;
  width: 40px;height: 40px;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.t_btn > img{
  margin: 0 auto;
  width: 60%;
  margin-top: 6px;
}
.t_btn:hover{filter: brightness(0.8);}