@charset "utf-8";




/* 공통서식 */
:root{
  --main_color_1:#FF8F00;
  --main_color_2:#ffd105;
  --main_color_3:#89C824;

  --sub_color_1:#E61A23;
  --sub_color_2:#009DDC;

  --text_color_1:#333;

  --container_size:1200px;

  --font_size_1:3.125rem;  /* 50px */
  --font_size_2:1.875rem;  /* 30px */
  --font_size_3:1.25rem;  /* 20px */
  --font_size_4:1.125rem;  /* 18px */
  --font_size_5:1rem;  /* 16px */
  --font_size_6:0.875rem;  /* 14px */
  --font_size_7:0.813rem;  /* 13px */

  --swiper-theme-color: #333333 !important;

}

/* 1200~1024일때 하단 스크롤 높이만큼 영역 밀리는 현상 삭제 */
@media screen and (min-width: 1200px) and (max-width: 1024px){
  .full2{top: -17px;}
  .full3{top: calc(-17px*2);}
  .full4{top: calc(-17px*3);}
  .full5{top: calc(-17px*4);}
  .full6{top: calc(-17px*5);}
  .full7{top: calc(-17px*6);}
}


/* -----메인 컨텐츠 공통 사이즈----- */
#fullpage{height: 100%;} /* 풀페이지 스크롤되게 top 기준점 설정 */
.full2, .full3, .full4, .full5, .full6, .full7{
  /* background: lightblue; */
  /* height: calc((var(--var,1vh) * 100) - 100px); */
  height: calc(100dvh - 100px);
  margin-top: 100px;
  position: relative;box-sizing: border-box;
}
#fullpage .inner1200{
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;

  position: absolute;top: 50%; left:50%; transform: translate(-50%,-50%);
}
.fullsection h3{display: none;}
.inner1200 h4{display: none;}

.inner1200{
  width: var(--container_size);margin: 0 auto;
  /* background: skyblue; */
}
/* .fullsection .inner1200{padding-top: 140px;} */

.title dt{font-size: var(--font_size_1);font-weight: 600;}
.title dd{font-size: var(--font_size_3);margin-top: 30px;line-height: 160%;text-wrap: nowrap;}

.sub_title dt{font-size: var(--font_size_2);font-weight: 600;}
.sub_title dd{font-size: var(--font_size_4);margin-top: 20px;line-height: 160%;}

.more{text-align: center;}
.more > a{
  font-size: var(--font_size_3);
  color: var(--text_color_1);
  text-align: center;
  display: inline-block;
}
.more > a:hover{
  color: var(--main_color_1);
  cursor: pointer;
}

img{display: block;}



/* 1. 메인 슬라이드 서식 */
.slide{
  position: relative;height: 100dvh;padding-top: 0;
}
.mySwiper{
  height: 100%;
}
.swiper-slide{
  position: absolute;width: 100%;height: 100%;
  background-position: center;
  background-size: cover;
}
.swiper-slide img{
  width: 100%;height: 100%; object-fit:cover;
  display: block;
}




/* 2.웅진소개 */
.intro .inner1200{display: flex;justify-content: space-between;height: 70vh;}
.intro .more{text-align: left;margin-top: 70px;}


  /* 회전서클 */
  .intro_box{
    width: 70vh;height: 70vh;
    position: absolute;
    right: 0;
    animation: dung 1s infinite alternate;
  }
  /* 둥둥 애니메이션 */
  @keyframes dung{
    0%{transform:translate(0,0);}
    100%{transform:translate(0,20px);}
  } 

  .intro_box > .circle{
      border:1px solid #333;
      width: 90%;
      height: 90%;
      border-radius:50%;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      filter: drop-shadow(0px 0px 4px #b3b3b3)
  }
  .intro_box > .cir_box{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      filter: drop-shadow(0px 0px 4px #b3b3b3)
  }
  .cir_box > div{
      position:absolute;
      width: 30%;
      height: 30%;
      border-radius:50%;
      border: 1px dashed #333;
      animation:rot 10s linear infinite;
      transform-origin:50% 50%;

    }
    
    @keyframes rot{
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }
  

  .cir_box div:nth-child(1){   /* 배치가 되긴 했는데 왜된지 모르겠음 */
    float: left;
  }
  .cir_box div:nth-child(2){
    position: absolute;
    top: 0; right: 0;
  }
  .cir_box div:nth-child(3){
    position: absolute;
    bottom: 0;left: 0;
  }
  .cir_box div:nth-child(4){
    bottom: 0;right: 0;
    position: absolute;
  }
  .cir_box div:nth-child(5){
    width: 50%; height: 50%;
    position: absolute;
    top: 25%; left: 25%;
    animation:rot 10s linear infinite;
    transform-origin:50% 50%;
  }
  .cir_box > div > div{    /* 이 부분 원이 안돌아가게 해야함 */
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    border-radius:50%;
    display: flex;
    align-items: center
  }
  
  
  .cir_box div:nth-child(5) div{
    width: 94%;
    height: 94%;
  }
  .cir_box div:nth-child(5) p{
    font-size: var(--font_size_2);
  }

  .cir_box p{
    font-size: var(--font_size_3);
    font-weight: bold;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .cir_box p{
    animation: no_rot 10s linear infinite;
  }
  @keyframes no_rot{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(-360deg);
    }
  }
  
  
  
  .cir_box div:nth-child(1) > div{background: var(--main_color_2);}
  .cir_box div:nth-child(2) > div{background: var(--main_color_3);}
  .cir_box div:nth-child(3) > div{background: var(--sub_color_1);}
  .cir_box div:nth-child(4) > div{background: var(--sub_color_2);}
  .cir_box div:nth-child(5) > div{background: var(--main_color_1)}


/* 3. 계열사 */
.group{overflow-x: hidden;}
.group .inner1200{height: 75vh;}
.group .title{text-align: center;}
.group .more{position: absolute; bottom: 0;left: 50%;transform: translateX(-50%);}


  /* 계열사 무한루프 슬라이드 */
  .wrap { 
    display: flex;
    position: absolute;
    top: 30%;
  }
  .wrap .rolling-list ul { 
    display: flex;
    height: 410px;
    padding-top: 8px; /* 그림자 영역만큼 띄워줌 */
  }
  .wrap .rolling-list ul li { 
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    width: 300px; 
    height: 40vh; 
    box-sizing: border-box; 
    border-radius: 20px; 
    margin: 0 15px; /* 간격 */
    display: flex; 
    align-items: center; 
    flex-shrink: 0; 
    background: white;
    overflow: hidden;
    position: relative;
  }
  .wrap .rolling-list ul li:nth-child(even) {
    margin-top: 50px;
  }
  .wrap .rolling-list div:nth-of-type(1){
    width: 100%;height: 100%;
    object-fit: cover;}
  .wrap .rolling-list img { 
    width: 100%;height: 100%;object-fit: cover;
  }

  .wrap .rolling-list li:hover{
    cursor: pointer;
  }
  .wrap .rolling-list li:hover img{
    filter: brightness(0.5);
  }

/* 호버시 계열사 버튼 생김 */
.group_btn{
  width: 200px; height: 200px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.group_btn > p{
  text-align: center;
  font-size: var(--font_size_3);
  font-weight: 600;
  line-height: 60px;
  height: 60px;
  background: white;
  display: inline-block;
  min-width: 120px;
  padding: 0 20px 0 20px;
  border-radius: 30px;
  position: absolute;
  top: 30px; transform: translateX(-50%);
  text-wrap: nowrap;
  box-sizing: border-box;
}
.group_btn > div{
  width: 50px !important;height: 50px !important;
  border-radius: 50%;
  background: white;
  display: inline-block;
  position: absolute;
  bottom: 30px; transform: translateX(-50%);
}
.group_btn > div > i{
  font-size: var(--font_size_3);
  line-height: 50px;
}

  /* 계열사 무한루프 애니메이션 */
  .rolling-list.original {
    animation: rollingleft1 70s linear infinite;
    /* margin-left: 300px; */
  }
  .rolling-list.clone {
    animation: rollingleft2 70s linear infinite;
  }

  @keyframes rollingleft1 {
    0% { transform: translateX(0); }
    50% { transform: translateX(-100%); }
    50.01% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
  }
  @keyframes rollingleft2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); }
  }



/* 4. 지속가능경영 */
.esg .title{text-align: center;}
.esg .sub_title{margin-top: 30px;text-align: center;}
.esg_list{display: flex;justify-content: space-between;margin-top: 50px;}
.esg_list div{width: 300px;height: 300px;margin: 0 auto;overflow: hidden;}
.esg_list li:nth-of-type(1) > div{border-radius: 150px 0 0 0;}
.esg_list li:nth-of-type(2) > div{border-radius: 0;}
.esg_list li:nth-of-type(3) > div{border-radius: 0 0 150px 0;}

.esg_list div:hover{
  border-radius: 50% !important;
  transition: 0.5s;
  cursor: pointer;
}

.esg_list div img{width: 100%;height: 100%;object-fit: cover;}

.esg .more{text-align: center;margin-top: 70px;}


/* 5. 웅진의 소식 */
.news{overflow: hidden;}
.news .title{display: flex;}
.news .more{
  margin: 0;
  line-height: var(--font_size_1);
  position: relative;
  left: -280px; top: 10px;
}

  /* 웅진소식 슬라이드 스와이퍼 서식 */
  .mySwiper3{
    margin-top: 50px;overflow: visible !important;
    margin-left: 0 !important;
  }
  .mySwiper3 .swiper-wrapper{
    width: 100%;
    display: flex;
  }
  .mySwiper3 .swiper-slide{
    margin-top: 10px;
    height: 380px;
    box-shadow: 0px 0px 6px gray;

  }
  .swiper-btn{
    top: 120px; right: 60px;
    font-size: var(--font_size_2);
    width: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
  }
  .swiper-button-prev:hover, .swiper-button-next:hover{
    color: var(--main_color_1) !important;
  }
  .swiper-button-prev:after, .swiper-button-next:after{
    display: none !important;
  }
  .swiper-button-prev{
    position: inherit !important;
  }
  .swiper-button-next{
    position: inherit !important;
  }

  /* 웅진소식 컨텐츠 서식 */
  .news_con{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.07);
    position: relative;
    top: 0;
    cursor: pointer;
  }
  .news_con:hover{
    /* background: var(--main_color_1); */
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    position: relative;
    top: -5px;
    transition: 0.5s ease;
  }
  .news_con:hover img{
    transform: scale(1.1);
    transition: 0.5s;
  }
  .news_con div{
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .news_con div img{
    width: 100%;
  }
  .news_title{
    font-size: var(--font_size_4);
    font-weight: 600;
    margin: 20px 20px 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: initial;
    display: -webkit-box;  /* 2줄 이상 말줄임처리 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-wrap: wrap;
  }
  .news_sub{
    font-size: var(--font_size_5);
    opacity: 0.4;
    margin: 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: initial;
    text-wrap: wrap;
    display: -webkit-box;  /* 2줄 이상 말줄임처리 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

/* 6. 인재채용 서식 */
/* .recruit{margin-bottom: 100px;} */
.recruit .title{text-align: center;}
.recruit_list{
  display: flex;justify-content: space-between;
  margin-top: 50px;
}
.recruit_list li{
  width: 350px;
  height: 400px;
  position: relative;
  border-radius: 30px;
}
.recruit_list li:hover{
  cursor: pointer;
}
.recruit_list li:nth-of-type(1){background: var(--main_color_2);}
.recruit_list li:nth-of-type(2){background: var(--main_color_3);}
.recruit_list li:nth-of-type(3){background: var(--sub_color_2);}

.recruit_list li > div{
  display: inline-block;
  position: absolute;
  top: 50%;left: 50%; transform: translate(-50%,-50%);
  text-align: center;
  width: 300px;
}
.recruit_list li div img{
  display: inline-block;
  width: 100px;height: 100px;
}
.recruit_list .sub_title{margin-top: 30px;color: white;}
.recruit_btn{
  width: 60px;height: 60px;
  border-radius: 50%;
  background: white;
  margin: 30px auto 0 auto;
  display: none;
}
.recruit_btn i{
  line-height: 60px;
  font-size: var(--font_size_2);
}
.recruit_list li:nth-of-type(1) i{color: var(--main_color_2);}
.recruit_list li:nth-of-type(2) i{color: var(--main_color_3);}
.recruit_list li:nth-of-type(3) i{color: var(--sub_color_2);}



.recruit .more{text-align: center;margin-top: 70px;}


/* 7. 푸터서식 */
.full7{height: auto !important;}
footer{
  background: #333;
  height: 560px;
}
/* 푸터 탑 서식 */
.footer_top{
  background: white; 
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
  height: 380px;
  position: relative;
}

.footer_top > nav{
  display: table; /* 테이블 속성으로 지정 */
  border-collapse: collapse;
  width: var(--container_size);
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
}
.footer_top dl{
  display: table-cell;  /* 테이블 속성으로 지정 */
  line-height: 30px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 20%;
  padding: 30px 0 0 50px;
}
.footer_top a{
  text-decoration: none;
}
.footer_top dl dt{
  font-weight: 600;
}


/* 푸터 바텀 서식 */
address{
  font-style: normal;
}
.footer_btm{
  position: relative;
  width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  height: 120px;
}
.btm_box{
  display: flex;
  position: absolute;
  top: 50%;transform: translateY(-50%);
  margin-top: 20px;
}
.btm_box div:nth-child(1){width: 200px;height: 54px;}
.btm_box div img{width: 100%;}

.btm_box div:nth-child(2){height: 80px;margin-left: 20px;}
.btm_box ul{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.btm_box li{
  color: white;
  font-weight: 100;
  line-height: 180%;
}
.btm_box li:nth-of-type(3){
  width:50%;
}
.btm_box li a{
  color: white;
}
.btm_box li::after {   /* 글자 옆 | 표시 */
  content: '';
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
  height: var(--font_size_6);
  background-color: white;
}
.btm_box li:nth-of-type(3):after {display: none;}
.btm_box li:nth-of-type(7):after {display: none;}


#site{
  width: 150px;height: 25px;
  background: none;
  color: white;
  text-align: center;
  cursor: pointer;
}
#site option{
  color: var(--text_color_1);
}
.copy{text-align: center;color: white;font-weight: 100;}