/* 공통서식 */
:root{
  --main_color_1:#FF8F00;
  --main_color_2:#ffd105;
  --main_color_3:#89C824;

  --sub_color_1:#E61A23;
  --sub_color_2:#009DDC;

  --text_color_1:#333;

  --container_size:1200px;

  --font_size_1:3.125rem;  /* 50px */
  --font_size_2:1.875rem;  /* 30px */
  --font_size_3:1.25rem;  /* 20px */
  --font_size_4:1.125rem;  /* 18px */
  --font_size_5:1rem;  /* 16px */
  --font_size_6:0.875rem;  /* 14px */
  --font_size_7:0.813rem;  /* 13px */

  --swiper-theme-color: #333333 !important;

}




/* 토글버튼 서식 */
#toggle{
  width: 40px;height: 40px;
  position: fixed;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  top: 30px; right: 8%;
}



/* ------------------------태블릿 버전 서식----------------------- */
@media (max-width: 768px){
  body{background-color: #cfc;}
  .quick{display: none !important;}
  /* --------------헤더서식------------ */
  .gnb{display: none;}
  .util{display: none;}
  .logo{
    margin-left: 0%;
    left: 50%; transform: translate(-50%,-50%);
  }
  header{
    background: white !important;
    border-bottom: 1px solid #ccc !important;
  }

  /* ---------메인서식----------- */
  .inner1200{
    width: 100%;
  }
  .fullsection .inner1200{padding-top: 140px;}
  .title dt{font-size: var(--font_size_2);text-align: center;}
  .title dd{font-size: var(--font_size_4);text-align: center;}

  .sub_title dt{font-size: var(--font_size_2);}
  .sub_title dd{font-size: var(--font_size_4);}

  .more > a{
    font-size: var(--font_size_5);
  }


  /* 2. 웅진소개 */
  .intro{position: relative;}
  .intro article{display: block;}
  .intro .more{
    position: absolute; bottom: -100px;
    left: 50%; transform: translateX(-50%);

  }
  .intro_box{
    margin: 40px auto 0 auto;
    width: 50vh;
    height: 50vh;position:relative;
    animation: dung 1s infinite alternate;
  }






  /* 3. 지속가능경영 */
  .esg .title{width: 500px;margin: 0 auto;}
  .esg .title dd{text-wrap: wrap;}
  .esg_list{display: block;}
  .esg_list li{height: 150px;margin-bottom: 30px;}

  .esg_list div{width: 100%;height: 150px;margin: 0 auto;overflow: hidden;}
  .esg_list li:nth-of-type(1) > div{border-radius: 150px 0 0 0;}
  .esg_list li:nth-of-type(2) > div{border-radius: 0;}
  .esg_list li:nth-of-type(3) > div{border-radius: 0 0 150px 0;}

  .esg_list li .sub_title{position: relative; top: -150px;color: white;}
  .esg_list li .sub_title dt{font-size: 24px;}
  .esg_list li .sub_title dd{font-size: var(--font_size_5); margin-top: 10px;}

  .esg_list div img{position: relative; top: 50%;transform: translateY(-50%);filter: brightness(0.8);}
  .esg_list li:nth-of-type(2) div img{top: 10px; left: 120px; transform: scale(1.6);}
  


  /* 7. 푸터 */
  .footer_top > nav{width: 100%;}
  .footer_btm{width: 100%;}







}



@media (max-width: 375px){
  body{background-color: rgb(207, 187, 255);}
}